#footer {
	text-align: center;
	width: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	color: #f75310;
	padding-top: 10px;
	/* margin: 0 auto; */
}
#github_icon {
	width: 34px;
	height: 34px;
}
#footer a {
	text-decoration: none;
	color: #f75310;
}
#footer a:hover {
	color: #fff;
}
