#break-label,
#session-label {
	text-align: center;
	font-family: "Bangers", cursive;
	font-size: 32px;
	letter-spacing: 0.1em;
	/* color: #f75310; */
}
#break-length,
#session-length {
	display: inline-block;
}
#arrow-container {
	display: inline-block;
}
.length-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px 0;
}
.arrows {
	flex-direction: column;

	font-size: 22px;
	font-weight: bold;
}
#break-length,
#session-length {
	font-family: "Bangers", cursive;
	align-self: center;
	font-size: 32px;
	width: 40px;
	text-align: right;
	padding-right: 18px;
}
#session-increment,
#session-decrement,
#break-increment,
#break-decrement {
	cursor: pointer;
	display: flex;
}
#session-increment,
#break-increment {
	align-self: flex-end;
}
#session-decrement,
#break-decrement {
	align-self: flex-start;
}
